.ulStyle {
    display: flex;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
}

.ulStyle a {
    color: gray;
    font-size: 20px;
}

.pageNum {}

.currentPageNum {
    font-weight: bold;
}